<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pepperjam_network>
            <feed>
                <order_correction>
                    <last_run_time />
                </order_correction>
            </feed>
            <settings>
                <active>0</active>
                <tracking_type>dynamic</tracking_type>
                <transaction_type>sale</transaction_type>
                <export_path>var/export/pepperjam_network/</export_path>
                <attribution_enabled>0</attribution_enabled>
                <source_key_name>source</source_key_name>
                <product_feed_enabled>1</product_feed_enabled>
                <order_correction_feed_enabled>1</order_correction_feed_enabled>
                <lookback_duration>60</lookback_duration>
                <beacon_base_url>t.pepperjamnetwork.com</beacon_base_url>
                <domain_enabled>0</domain_enabled>
                <domain_url></domain_url>
                <tag_enabled>0</tag_enabled>
                <tag_indentifier/>
                <tag_endpoint_js>container.pepperjam.com</tag_endpoint_js>
            </settings>
            <product_map>
                <!--
                The purpose of this mapping is enabled the coexistence of both
                pre-configured product attributes mapping and configured attributes
                mapping for the affiliate product feed. This means that when this
                module is installed and no other attribute is configured for the
                product feed the required pre-mapped attributes will be sufficient
                enough to generate a valid product feed.
                -->
                <age_range/>
                <artist/>
                <aspect_ratio/>
                <author/>
                <battery_life/>
                <binding/>
                <buy_url>product_url</buy_url>
                <category_network/>
                <category_program>category</category_program>
                <color/>
                <color_output/>
                <condition/>
                <description_long>description</description_long>
                <description_short>short_description</description_short>
                <director/>
                <discontinued/>
                <display_type/>
                <edition/>
                <expiration_date/>
                <features/>
                <focus_type/>
                <format/>
                <functions/>
                <genre/>
                <heel_height/>
                <height/>
                <image_thumb_url>thumbnail</image_thumb_url>
                <image_url>image</image_url>
                <installation/>
                <in_stock/>
                <isbn/>
                <keywords>meta_keyword</keywords>
                <length/>
                <load_type/>
                <location/>
                <made_in/>
                <manufacturer>manufacturer</manufacturer>
                <material/>
                <megapixels/>
                <memory_capacity/>
                <memory_card_slot/>
                <memory_type/>
                <model_number/>
                <mpn/>
                <name>name</name>
                <occasion/>
                <operating_system/>
                <optical_drive/>
                <pages/>
                <payment_accepted/>
                <payment_notes/>
                <platform/>
                <price>price</price>
                <price_retail>msrp</price_retail>
                <price_sale>special_price</price_sale>
                <price_shipping/>
                <processor/>
                <publisher/>
                <quantity_in_stock>qty</quantity_in_stock>
                <rating/>
                <recommended_usage/>
                <resolution/>
                <screen_size/>
                <shipping_method/>
                <shoe_size/>
                <shoe_width/>
                <size/>
                <sku>sku</sku>
                <staring/>
                <style/>
                <tech_spec_url/>
                <tracks/>
                <upc/>
                <weight/>
                <width/>
                <wireless_interface/>
                <year/>
                <zoom/>
            </product_map>
        </pepperjam_network>
    </default>
</config>